[Unit]
Description=YownesBackend
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/yownes
Environment="PYTHONPATH=/home/ubuntu/.local/lib/"
ExecStart=/home/ubuntu/.local/bin/gunicorn --bind :8000 --workers 2 --worker-class uvicorn.workers.UvicornWorker backend.server.asgi:application
User=ubuntu
Restart=on-failure

[Install]
WantedBy=multi-user.target

