.centerText {
  text-align: center;
}

.description {
  margin: 24px 0px;
}

.errors {
  padding-bottom: 24px;
}

.rightAlign {
  display: inline-block;
  margin-bottom: 24px;
  text-align: right;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
