.inactive {
  background-color: #f8f8f8;
  cursor: pointer;
  font-style: italic;
  opacity: 0.7;
}

.overflow {
  overflow-x: scroll;
  overflow-y: hidden;
}

.row {
  cursor: pointer;
}

.table {
  min-width: 700px;
}

.title {
  margin-bottom: 24px !important;
}
