.container {
  flex-direction: column;
  gap: 48px;
}

.preview {
  width: 280px;
  height: 500px;
  background-color: #333;
}

.previewContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  align-items: flex-start;
  display: flex;
  flex: 1;
  padding-bottom: 24px;
}
