.amount,
.plan {
  color: #232323 !important;
  font-size: 16px !important;
  font-weight: bold;
}

.features {
  color: #636363;
  display: grid !important;
  flex: 1;
  text-align: end;
}

.feature {
  display: contents;
}

.font {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.select {
  width: 100%;
}

.strong {
  font-weight: 500;
}

.switch {
  display: flex;
}

.switchLabel {
  margin-left: 16px;
}
