.customColorContainer {
  align-items: center;
  display: flex;
  margin-top: 8px;
}

.customColorInput {
  margin-bottom: 0px !important;
  margin-right: 8px !important;
  width: 116px !important;
}

.customColorInput input {
  font-weight: 500;
}
