.icon {
  font-size: 20px !important;
  margin-right: 4px;
}

.title {
  color: #232323 !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
}

#titleIcon {
  color: #61db9b;
  margin-right: 12px;
}
