.alert {
  margin-bottom: 20px;
  margin-top: 4px;
}

.alertAdmin {
  margin-bottom: 20px;
  margin-top: 24px;
}

.alertNoPaymentsAdmin {
  padding-top: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
