.alertButton {
  margin-left: 20;
}

.header {
  margin-bottom: 24px !important;
}

.padding {
  padding: 24px 15px 0px 7.5px;
}

.paddingTop {
  padding-top: 16px;
}

.renewalAlert {
  margin: 0px 15px 18px 7.5px;
}

.tag {
  font-family: "Ubuntu";
  font-weight: 400;
  margin-left: 24px;
  vertical-align: text-bottom;
}
