.previewContainer {
  cursor: pointer;
  display: inline-flex;
  margin-right: 24px;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.previewContainer:hover {
  color: #328f5e;
}

.templatesContainer {
  overflow-x: scroll;
  display: flex;
  padding-bottom: 15px;
}
