.wrap {
  position: absolute;
  right: 0;
  top: 40%;
  width: 100%;
  left: 0;
  margin: 0 auto;
}

/* select starting stylings ------------------------------*/
.select {
  font-family: var(
    --font-family,
    "Roboto",
    "Segoe UI",
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  position: relative;
  /* height: 68px; */
  width: 100%;
}

.select-text,
#multiselect {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 15px 13px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(var(--clr-text-darker, 0, 0, 0));
}

.select-text:focus,
#multiselect:focus {
  padding: 14px 12px;
}

.select-text:hover,
#multiselect:hover {
  border: 1px solid rgba(var(--clr-primary, 0, 0, 0));
}

/* Remove focus */
.select-text:focus,
#multiselect:focus {
  outline: none;
  border: 2px solid rgba(var(--clr-text-link, 0, 0, 0));
}

/* Use custom arrow */
.select .select-text,
.select #multiselect {
  appearance: none;
  -webkit-appearance: none;
  color: rgba(var(--clr-text-darkest, 0, 0, 0));
}

.select:after {
  position: absolute;
  top: 24px;
  right: 20px;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(var(--clr-text-dark, 0, 0, 0));

  pointer-events: none;
}

/* LABEL ======================================= */
.select-label {
  color: rgba(var(--clr-text-dark, 0, 0, 0));
  background: white;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  pointer-events: none;
  padding: 0 5px;
  left: 10px;
  top: 16px;
  transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label,
#multiselect:focus ~ .select-label,
.select-text:valid ~ .select-label,
#multiselect:valid ~ .select-label {
  color: rgba(var(--clr-text-link, 0, 0, 0));
  top: -8px;
  transition: 0.2s ease all;
  font-size: 12px;
  font-weight: 500;
}

.select-text:valid:not(focus) ~ .select-label,
#multiselect:valid:not(focus) ~ .select-label {
  color: rgba(var(--clr-text-dark, 0, 0, 0));
  background: #fff;
}

.select-text:valid:focus ~ .select-label,
#multiselect:valid:focus ~ .select-label {
  color: rgba(var(--clr-text-link, 0, 0, 0));
}
