.titleContainer {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.infoContainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
}

.infoLinksContainer {
  margin-bottom: 16px;
}

.infoStatusContainer {
  margin-bottom: 8px;
}

.infoTitle {
  font-weight: 500;
  letter-spacing: 0.5;
}

.storeLink {
  font-weight: 500;
  margin-right: 16px;
}

.storeNoLink {
  margin-right: 16px;
}
