.empty {
  display: block;
  margin-top: 24px;
}

.icon {
  color: #4b4a4b;
  font-size: 1.5rem;
  width: 40px;
}

.overflow {
  overflow-x: scroll;
  overflow-y: hidden;
}

.row {
  cursor: pointer;
}
