.app_deleted td {
  background-color: #f8f8f8;
  font-style: italic;
  opacity: 0.7;
}

.empty {
  display: block;
  margin-top: 24px;
}

.overflow {
  margin-top: 24px;
  overflow-x: scroll;
  overflow-y: hidden;
}
