.button {
  color: #61db9b;
  display: inline-flex !important;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  float: left;
  box-sizing: border-box;
  width: 17px !important;
  height: 17px !important;
  padding: 0 0 1px 0 !important;
  color: inherit;
  line-height: 17px;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  outline: none;
  user-select: none;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  box-shadow: none;
}
