.container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.icon {
  color: #232323 !important;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.title {
  font-weight: bold;
}
