.expandedContent {
  padding: 16px 0 16px 0;
}

.expandedRow {
  background-color: #ebfbf3 !important;
  cursor: pointer !important;
}

.overflow {
  overflow-x: auto;
  overflow-y: hidden;
}

.row {
  cursor: pointer !important;
}
