.editing {
  margin: 0 !important;
}

.editingRow > td {
  background-color: transparent !important;
}

.input div[class="ant-form-item-explain-error"] {
  padding-bottom: 0px !important;
}

.input div[class="select"] {
  padding-bottom: 2px !important;
}

.fullWidth {
  width: "100%";
}

.inactive td:not(:last-child) {
  background-color: #f8f8f8;
  font-style: italic;
  opacity: 0.7;
}

.inactive td:last-child {
  background-color: #f8f8f8;
  font-style: italic;
}

.input {
  margin-bottom: 0px !important;
}

.switch {
  margin-bottom: 0px !important;
}

.title {
  margin-bottom: 24px !important;
}
