.editing {
  margin: 0;
}

.fullWidth {
  width: "100%";
}

.inactive td:not(:last-child) {
  background-color: #f8f8f8;
  font-style: italic;
  opacity: 0.7;
}

.inactive td:last-child {
  background-color: #f8f8f8;
  font-style: italic;
}

.title {
  margin-bottom: 24px !important;
}
