.collapse {
  flex: 1;
  margin-top: 16px !important;
}

.description,
.features {
  padding-left: 15px;
}

.expandedContent {
  padding: 16px 0px;
}

.expandedRow {
  background-color: #ebfbf3 !important;
  cursor: pointer !important;
}

.overflow {
  overflow-x: auto;
  overflow-y: hidden;
}

.row {
  cursor: pointer !important;
}

.table {
  min-width: 750px;
}
