.image,
.noImage {
  border-radius: 20px;
  height: 300px;
  object-fit: contain;
  width: 150px;
}

.noImage {
  background-color: #ededed;
}

.imageContainer {
  border: 1px solid #fff;
  border-radius: 20px;
  margin-bottom: 12px;
  padding: 4px;
  -webkit-transition: border 0.5s ease;
  -moz-transition: border 0.5s ease;
  -o-transition: border 0.5s ease;
  -ms-transition: border 0.5s ease;
  transition: border 0.5s ease;
}

.imageContainer:hover {
  border: 1px solid #328f5e;
}

.imageSelected {
  border: 1px solid #328f5e;
}

.name {
  font-weight: 500;
  text-align: center;
}
